:root {
    --button-color: #596D48;

}

main {
    display: flex;
    flex-direction: row;
}

main > div {
    flex-direction: column;
}


.photo-content {
    flex-basis: 33%;
}

img {
    width: 100%;
    position: relative;
}

.text-on-photo {
    position: absolute;
    width: 33%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 1.2em;
    left: 0;
}

.photo-content > p {
    position: absolute;
    bottom: 0;
    color: white;
}

.photo-content p>a {
    color: white;
}

.content {
    flex-basis: 66%;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.content>p {
    margin-top: 40px;
}


.field-input {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.row {
    display: flex;
    flex-direction: row;
}

label, input, fieldset>p, .content>p {
    margin-right: 40px;
    margin-left: 20px;
}

input {
    box-shadow: 2px 2px 5px grey;
}

fieldset {
    box-shadow: 2px 2px 5px grey;
    border: none;
    width: 100%;

}

input:valid {
    border-color: blue;
}

input:invalid {
    border-color: red;
}

[type = "submit"] {
    background-color: var(--button-color);
    box-shadow: none;
    border: none;
    width: 150px;
    height: 35px;
    color: white;
    border-radius: 5px;
}
